<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>APSSPMediationADOP.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>APSSPMediationAdFit.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>APSSPMediationAdForus.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>APSSPMediationAdMob.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>APSSPMediationAppLovin.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>APSSPMediationAppLovinMax.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>APSSPMediationCauly.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>APSSPMediationGAM.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>APSSPMediationMaio.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>APSSPMediationMezzo.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>APSSPMediationMintegral.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>APSSPMediationMoloco.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>APSSPMediationNAM.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>APSSPMediationPangle.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>APSSPMediationVungle.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>APSSPSDK-Package.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>APSSPSDK.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>APSSPMediationADOP</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>APSSPMediationAdFit</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>APSSPMediationAdForus</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>APSSPMediationAdMob</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>APSSPMediationAppLovin</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>APSSPMediationAppLovinMax</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>APSSPMediationGAM</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>APSSPMediationMezzo</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>APSSPMediationMintegral</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>APSSPMediationNAM</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>APSSPMediationVungle</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>APSSPSDK</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
